<%- include('partials/head')%>

<a href="/dps/add-slide" class="add-slide button">Add new Slide</a>
<a href="/dpf/<%= data.screen.sid %>" target="_blank" class="show-screen button">Go to Screen!</a>

  <h2>current slides for screen: <%= data.screen.name %></h2>

  <ul class="main-ul">
    <% if (!data.usedSlides) { %>
      <p>geen data</p>
    <% } else { %>
      <% data.usedSlides.forEach(function(slide) { %>
        <% if (slide.contentType == "image") {%>
          <li>
            <ul class="item-ul">
              <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
              <li class="tumb-img" style="background-image: url('<%= slide.content %>');"></li>
              <!-- <li>SID: <%= slide.sid%></li> -->
              <li class="title"><%= slide.title%></li>
              <li>Duration: <%= slide.duration%> seconds</li>
              <li>Type: <%= slide.contentType %></li>
              <li>
                <a href=""></a>
                <!-- <a href="<%= 'slides/edit:' + slide.sid %>" class="button" id="edit">EDIT</a> -->
                <a href="<%= '/dps' + data.req.url + '/remove/' + slide.sid %>" class="button" id="remove">REMOVE</a>
              </li>
            </ul>
          </li>
        <% }; %>
      <% }); %>
      <% data.usedSlides.forEach(function(slide) { %>
        <% if (slide.contentType == "video") {%>
          <li>
            <ul class="item-ul">
              <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
              <!-- <li style="background-image: url('<%= slide.content %>');"></li> -->
              <!-- <li>SID: <%= slide.sid%></li> -->
              <li class="title"><%= slide.title%></li>
              <li>Duration: <%= slide.duration%> seconds</li>
              <li>Type: <%= slide.contentType %></li>
              <li>
                <!-- <a href="<%= 'slides/edit:' + slide.sid %>" class="button" id="edit">EDIT</a> -->
                <a href="<%= '/dps' + data.req.url + '/remove/' + slide.sid %>" class="button" id="remove">REMOVE</a>
              </li>
            </ul>
          </li>
        <% }; %>
      <% }); %>
      <% data.usedSlides.forEach(function(slide) { %>
        <% if (slide.contentType == "text") {%>
          <li>
            <ul class="item-ul">
              <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
              <!-- <li style="background-image: url('<%= slide.content %>');"></li> -->
              <!-- <li>SID: <%= slide.sid%></li> -->
              <li class="title"><%= slide.title%></li>
              <li>Duration: <%= slide.duration%> seconds</li>
              <li>Type: <%= slide.contentType %></li>
              <li>
                <!-- <a href="<%= 'slides/edit:' + slide.sid %>" class="button" id="edit">EDIT</a> -->
                <a href="<%= '/dps' + data.req.url + '/remove/' + slide.sid %>" class="button" id="remove">REMOVE</a>
              </li>
            </ul>
          </li>
        <% }; %>
      <% }); %>
    <% } %>
  </ul>

  <h2>Slides you can add</h2>

  <ul class="main-ul">
    <% if (!data.slides) { %>
      <% console.log(data.allSlides) %>
      <p>geen data</p>
    <% } else { %>
      <% data.slides.forEach(function(slide) { %>
        <% if (slide.contentType == "image") {%>
          <li>
            <ul class="item-ul">
              <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
              <li class="tumb-img" style="background-image: url('<%= slide.content %>');"></li>
              <!-- <li>SID: <%= slide.sid%></li> -->
              <li class="title"><%= slide.title%></li>
              <li>Duration: <%= slide.duration%> seconds</li>
              <li>Type: <%= slide.contentType %></li>
              <li>
                <!-- <a href="<%= 'slides/edit:' + slide.sid %>" class="button" id="edit">EDIT</a> -->
                <a href="<%= '/dps' + data.req.url + '/add/' + slide.sid %>" class="button" id="add">ADD</a>

                <a href="<%= '/dps' + data.req.url + '/delete/' + slide.sid %>" class="button" id="delete">DELETE</a>
              </li>
            </ul>
          </li>
        <% }; %>
      <% }); %>
      <% data.slides.forEach(function(slide) { %>
        <% if (slide.contentType == "video") {%>
          <li>
            <ul class="item-ul">
              <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
              <!-- <li style="background-image: url('<%= slide.content %>');"></li> -->
              <!-- <li>SID: <%= slide.sid%></li> -->
              <li class="title"><%= slide.title%></li>
              <li>Duration: <%= slide.duration%> seconds</li>
              <li>Type: <%= slide.contentType %></li>
              <li>
                <a href="<%= '/dps' + data.req.url + '/add/' + slide.sid %>" class="button" id="add">ADD</a>
                <!-- <a href="<%= 'slides/edit:' + slide.sid %>" class="button" id="edit">EDIT</a> -->
                <a href="<%= '/dps' + data.req.url + '/delete/' + slide.sid %>" class="button" id="delete">DELETE</a>
              </li>
            </ul>
          </li>
        <% }; %>
      <% }); %>
      <% data.slides.forEach(function(slide) { %>
        <% if (slide.contentType == "text") {%>
          <li>
            <ul class="item-ul">
              <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
              <!-- <li style="background-image: url('<%= slide.content %>');"></li> -->
              <!-- <li>SID: <%= slide.sid%></li> -->
              <li class="title"><%= slide.title%></li>
              <li>Duration: <%= slide.duration%> seconds</li>
              <li>Type: <%= slide.contentType %></li>
              <li>
                <a href="<%= '/dps' + data.req.url + '/add/' + slide.sid %>" class="button" id="add">ADD</a>
                <!-- <a href="<%= 'slides/edit:' + slide.sid %>" class="button" id="edit">EDIT</a> -->
                <a href="<%= '/dps' + data.req.url + '/delete/' + slide.sid %>" class="button" id="remove">DELETE</a>
              </li>
            </ul>
          </li>
        <% }; %>
      <% }); %>
    <% } %>
  </ul>



  <%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
