<%- include('partials/head')%>

<form class="add-content" action="/dps/slideshows/edit/<%= data.sid %>" method="post">

  <label class="dis-none" for="slides">Slides: </label>
  <input type="text" class="dis-none" name="slides" value="<%= data.slideshow.slides%>" id="slides"> <br>

  <ul class="main-ul edit-slideshow-ul">
    <!-- <li class="li-title"><h2>Slides in slideshow</h2></li> -->
      <% data.usedSlides.forEach(function(slide){ %>
        <li>
          <ul class="item-ul">
            <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
            <li style="background-image: url('<%= slide.content %>');"></li>
            <!-- <li>SID: <%= slide.sid%></li> -->
            <li class="title"><%= slide.title%></li>
            <li>Duration: <%= slide.duration%></li>
            <li>Remove from slideshow: <input type="checkbox" name="remove" value="<%= slide.sid %>"></li>
          </ul>
        </li>
      <% }) %>
    </li>
  </ul>


  <ul class="main-ul edit-slideshow-ul">
    <!-- <li class="li-title"><h2>image slides</h2></li> -->
    <% data.allSlides.forEach(function(slide) { %>
      <% if (slide.contentType == "image") {%>
        <li>
          <ul class="item-ul">
            <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
            <li style="background-image: url('/images/poster1.png');"></li>
            <!-- <li>SID: <%= slide.sid%></li> -->
            <li class="title"><%= slide.title%></li>
            <li>Duration: <%= slide.duration%></li>
            <li>type: image</li>
            <li>Add to slideshow: <input type="checkbox" name="add" value="<%= slide.sid %>"></li>
          </ul>
        </li>
      <% }; %>
    <% }); %>
    <!-- <li class="li-title"><h2>video slides</h2></li> -->
    <% data.allSlides.forEach(function(slide) { %>
      <% if (slide.contentType == "video") {%>
        <li>
          <ul class="item-ul">
            <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
            <li style="background-image: url('<%= slide.content %>');"></li>
            <!-- <li>SID: <%= slide.sid%></li> -->
            <li class="title"><%= slide.title%></li>
            <li>Duration: <%= slide.duration%></li>
            <li>type: video</li>
            <li>Add to slideshow: <input type="checkbox" name="add" value="<%= slide.sid %>"></li>
          </ul>
        </li>
      <% }; %>
    <% }); %>
    <!-- <li class="li-title"><h2>text slides</h2></li> -->
    <% data.allSlides.forEach(function(slide) { %>
      <% if (slide.contentType == "text") {%>
        <li>
          <ul class="item-ul">
            <!-- <li><img src="<%= slide.content %>" alt="title"></li> -->
            <li style="background-image: url('<%= slide.content %>');"></li>
            <!-- <li>SID: <%= slide.sid%></li> -->
            <li class="title"><%= slide.title%></li>
            <li>Duration: <%= slide.duration%></li>
            <li>type: text</li>
            <li>Add to slideshow: <input type="checkbox" name="add" value="<%= slide.sid %>"></li>
          </ul>
        </li>
      <% }; %>
    <% }); %>
  </ul>

  <!-- <label for="slides">Slides: </label> -->


  <input class="button edit-slideshow-button" type="submit" value="SUBMIT" name="submit">

</form>

  <%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
