<%- include('partials/head')%>

<!-- <a href="/dps/screens/add-screen"><button class="button" id="addScreen">NEW SCREEN</button></a> -->

<h2>Editable screens</h2>
<ul class="main-ul">
  <% data.screens.forEach(function(screen) { %>
      <li>
        <ul class="item-ul screensUl">
          <li><h2><%= screen.name %></h2></li>
          <li><%= screen.location %></li>
          <li class="tumb-img" style="background-image: url('/<%= screen.image %>');"></li>
          <li>
            <a href="/dps/edit/<%= screen.sid %>" class="button" id="edit">EDIT</a>
            <!-- <a href="" class="button" id="remove">REMOVE</a> -->
          </li>
        </ul>
      </li>
    <% }); %>
</ul>

<!-- <div class="screenImg">
  <img src="/images/poster1.png" alt="">
</div> -->



  <%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
