<%- include('partials/head')%>

<a href="/dps/screens/add-screen"><button class="button" id="addScreen">NEW SCREEN</button></a>


<ul class="main-ul">
  <% if (data.screens) { %>
    <% data.screens.forEach(function(screen) { %>
      <li>
        <ul class="item-ul">
          <li></li>
          <!-- <li>SID: <%= screen.sid%></li> -->
          <li>Name: <%= screen.name%></li>
          <li>slideshow: <%= screen.slideshow %></li>
          <li>Date created: <%= screen.createdOn.toLocaleDateString()%></li>
          <li>
            <a href="<%= 'screens/edit/' + screen.sid %>" class="button" id="edit">EDIT</a>
            <a href="<%= 'screens/remove/' + screen.sid %>" class="button" id="remove">REMOVE</a>
          </li>
        </ul>
      </li>
    <% }); %>
  <% }; %>
</ul>

<!-- <div class="screenImg">
  <img src="/images/poster1.png" alt="">
</div> -->



  <%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
