<%- include('head')%>
  <div class = "backend">
    <h1>CMD Posters | Slides</h1>
    <%- include('backend-nav')%>

  <a href="upload">upload new slide</a>

  <div class="list">
    <h2>Image slides</h2>
    <% data.slides.forEach(function(slide) { %>
      <div class="slide">
        <% if (slide.contentType == "image") {%>
          <div class = "content-image">
            <img src="<%= slide.content %>" alt="<%= slide.title %>">
          </div>
          <p>ID: <%= slide.id%></p>
          <p>Title: <%= slide.title%></p>
          <p>Duration: <%= slide.duration%></p>
          <p>Date upload: <%= slide.createdOn%></p>
        <% } %>
      </div>
    <% }); %>

    <h2>video slides</h2>
    <% data.slides.forEach(function(slide) { %>
      <div class="slide">
        <% if (slide.contentType == "video") {%>
          <div class = "content-image">
            <video src="<%= slide.content %>" >
          </div>
          <p>ID: <%= slide.id%></p>
          <p>Title: <%= slide.title%></p>
          <p>Duration: <%= slide.duration%></p>
          <p>Date upload: <%= slide.createdOn%></p>
        <% } %>
      </div>
    <% }); %>

    <h2>text slides</h2>
    <% data.slides.forEach(function(slide) { %>
      <div class="slide">
        <% if (slide.contentType == "text") {%>
          <div class = "content-text">
            <p><%= slide.content %></p>
          </div>
          <p>ID: <%= slide.id%></p>
          <p>Title: <%= slide.title%></p>
          <p>Duration: <%= slide.duration%></p>
          <p>Date upload: <%= slide.createdOn%></p>
        <% } %>
      </div>
    <% }); %>
</div>
<%- include('head')%>
