<%- include('partials/head')%>

<a href="/dps/slideshows/add-slideshow"><button class="button" id="addSlideshow">NEW SLIDESHOW</button></a>


<ul class="main-ul">
  <% if (data.slideshows) { %>
  <% data.slideshows.forEach(function(slideshow) { %>
    <li>
      <ul class="item-ul">
        <li></li>
        <li>SID: <%= slideshow.sid%></li>
        <li>Name: <%= slideshow.name%></li>
        <li>contains: <%= slideshow.slides.length %></li>
        <li>Date created: <%= slideshow.createdOn.toLocaleDateString()%></li>
        <li><a href="<%= 'slideshows/edit/' + slideshow.sid %>" class="button" id="edit">EDIT</a><a href="<%= 'slideshows/remove/' + slideshow.sid %>" class="button" id="remove">REMOVE</a></li>
      </ul>
    </li>
  <% }); %>
  <% }; %>
</ul>




  <%- include('partials/backend-nav')%>
<%- include('partials/foot')%>
